.home-container{
  padding-top: 20px;
  margin: 50px auto auto auto;
  background-color:rgba(255, 255, 255, 0.35);
  justify-content: center;
  border-radius: 32px;
  max-width: 1200px;

  flex-direction: row;
}
.welcome-heading{
  padding-top: 20px;
  font-family: 'Joesefin Sans', sans-serif;
  font-size: 5em;
  justify-content: center;
  text-align: center;
  text-shadow:  rgba(0, 0, 0, 0.65) 1px 1px;
}
p {
  color: black;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
ul.spotImagesDiv{
  width: 325px;
  height: 215px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  margin: 0px 0px;
}

li.spotCard{
  background-color: rgba(22, 22, 22, 0.65);
  border-radius: 1.25em;
  width: 325px;
  margin: 10px;
  padding:0;
}
li.spotImage {
  justify-content: center;
  align-items: center;
  border-style:hidden;

}
.spotImage {
  height: 200px;
  align-items: center;
}

.spotDiv {
  width: 350px;
  display: inline-flex;
}
h3{
  color: white;
  padding-top: 10px;
}
li#spotCity {
  color:crimson;
  padding-bottom: 10px;
  font-size: large;
 text-shadow:  rgba(22, 22, 22, 0.75)2px 2px;
}

li#spotPrice{
  color:white;
}
