* {
  list-style-type: none;
  scroll-behavior: none;
  font-family: 'Josefin Sans', sans-serif;
}

.navContainer{
  min-width: 300px;
  width: 100%;
  height: 50px;
  background-color:rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 3;
}
a{
  color:#333333;
  padding: 10px;
  text-decoration: none;;

}


ul.profile-dropdown{
  color:white;
  background-color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 50px;
  right: 50px;
  position: absolute;
}

li{
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.navLeft,.navRight {
   display: inline-flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.navLeft{
 float:left;
 padding-left: 2em;
 width: 400px;
}
.navRight{
  float: right;
  padding-right: 2em;
}

.navButtons{
  justify-content: space-between;
}

.nav-links {
  color: green;
}
